<div class="modal-content">
    <div class="modal-header">
        <button class="close" ng-click="cancel()" type="button">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">用户信息</h4>
    </div>
    <div class="modal-body">
        <div class="wrapper wrapper-content animated fadeInRight">
            <form action="" class="form-horizontal m-t-md " name="myForm"
                  novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">登录名:</label>
                    <div class="col-sm-10">
                        <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="userName"
                               ng-disabled="true" ng-maxlength="50"
                               ng-model="item.userName"
                               placeholder="请输入登录名" required type="text">
                        <div class="text-danger"
                             ng-if="myForm.userName.$dirty && myForm.userName.$invalid">
                            <span ng-if="myForm.userName.$error.required"> 输入不能为空 </span> <span
                                ng-show="myForm.userName.$error.maxlength">不能超过50个字符 </span>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名:</label>
                    <div class="col-sm-10">
                        <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="name"
                               ng-maxlength="10"
                               ng-model="item.name"
                               placeholder="请输入姓名" required type="text">
                        <div class="text-danger"
                             ng-if="myForm.name.$dirty && myForm.name.$invalid">
                            <span ng-if="myForm.name.$error.required"> 输入不能为空 </span> <span
                                ng-show="myForm.name.$error.maxlength">不能超过20个字符 </span>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机号:</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="请输入手机" ng-model="item.tel" type="text">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注:</label>
                    <div class="col-sm-10" style="height: 150px;">
						<textarea  placeholder="请输入备注" class="form-control" ng-model="item.mark" style="height: 150px;"
                                  type="text"></textarea>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">帐号状态:</label>
                    <div class="col-sm-10">
                        <select chosen class="chosen-select" data-placeholder-text-single="'请选择...'"
                                disable-search="true" ng-model="lockedSel"
                                ng-options="item.name for item in lockedOpt" no-results-text="'没有找到相应条目'"
                                width=100>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="text-align: center">
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
        <button class="btn btn-primary" ng-click="sure()"
                ng-disabled="myForm.$invalid">确认
        </button>
    </div>
</div>
