<div ng-controller="objcateCtl">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label for="class">对象分组</label> <select chosen
                                                                        class="chosen-select"
                                                                        data-placeholder-text-single="'请选择...'"
                                                                        disable-search="true"
                                                                        id="class"
                                                                        ng-model="objcateSel"
                                                                        ng-options="item.name for item in objcateOpt"
                                                                        no-results-text="'没有找到相应条目'"
                                                                        style="width: 120px;">
                                <option value=""></option>
                            </select>
                            </div>
                            <button class="btn btn-sm btn-primary" ng-click="query()"
                                    type="submit">查询
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="add()"
                                    type="submit">新增
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <table class="table table-hover" datatable="ed"
                               dt-column-defs="dtColumnDefs" dt-columns="dtColumns"
                               dt-instance="dtInstance" dt-options="dtOptions">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




