<div ng-controller="demoCtl">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <button class="btn btn-sm btn-primary" ng-click="btn_add()"
                                type="submit">add
                        </button>
                        <div>sadfasdf</div>
                        <div>sadfasdf</div>
                        <div id="cc"></div>
                        <!--
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">附件</label>
                            <div class="col-sm-10">
                                <div class="dropzone" drop-zone dzconfig="dzconfig"
                                    dzeventHandlers="dtldzevent" enctype="multipart/form-data">
                                    <div id="dropzone" class="fallback">
                                        <input name="file" type="file" multiple="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button ng-click="btn_add()" class="btn btn-sm btn-primary"
                            type="submit">add</button>

                    </form> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <table class="table table-hover" datatable="ed"
                               dt-column-defs="dtColumnDefs" dt-columns="dtColumns"
                               dt-instance="dtInstance" dt-options="dtOptions">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>