<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.ops.mapper.KnBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.ops.entity.KnBase">
        <id column="id" property="id" />
    <result column="dr" property="dr" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="catid" property="catid" />
        <result column="catname" property="catname" />
        <result column="title" property="title" />
        <result column="profile" property="profile" />
        <result column="label" property="label" />
        <result column="ct" property="ct" />
        <result column="reviewcnt" property="reviewcnt" />
        <result column="attach" property="attach" />
        <result column="lasttime" property="lasttime" />
        <result column="inserttime" property="inserttime" />
        <result column="luserid" property="luserid" />
        <result column="lusername" property="lusername" />
        <result column="shareurl" property="shareurl" />
        <result column="isshow" property="isshow" />
        <result column="type" property="type" />
    </resultMap>

</mapper>
