<style>
    @media ( min-width: 992px) {
        .modal-blg {
            width: 95%;
        }
    }
</style>
<link href="./plugin/form/k-form-design.css" rel="stylesheet">
<div class="modal-content">
    <div class="modal-header">
        <button class="close" ng-click="cancel()" type="button">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">流程预览</h4>
    </div>
    <div class="modal-body">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div id="app">
                        <k-form-build :value="jsonData" @submit="handleSubmit" disabled="true" ref='kfb'></k-form-build>
                    </div>
                </div>
            </div>
            <form action="" class="form-horizontal m-t-md " name="myForm"
                  novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">流程图:</label>
                    <div class="col-sm-10">
                        <iframe allowtransparency="yes" border="0" frameborder="no"
                                height="400px" marginheight="0" marginwidth="0"
                                ng-src="{{url}}" scrolling="yes" style="margin-bottom: 50px"
                                width="100%"></iframe>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="vendor/basket/basket.0.5.2.full.min.js"></script>
<script>
    basket
        .require({url: './plugin/form/vue.min.js', key: 'vue'})
        .then(function () {
            basket.require({url: './plugin/form/k-form-design.umd.min.js', key: 'vue-form'});
        }, function (error) {
            console.log('######', error);
        });
</script>