<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.form.mapper.SysFormItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.form.entity.SysFormItem">
        <id column="id" property="id" />
    <result column="dr" property="dr" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="formid" property="formid" />
        <result column="ct" property="ct" />
        <result column="ctvalue" property="ctvalue" />
        <result column="processid" property="processid" />
        <result column="type" property="type" />
    </resultMap>

</mapper>
