<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.base.mapper.ContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.base.entity.Contract">
        <id column="id" property="id"/>
        <result column="dr" property="dr"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="title" property="title"/>
        <result column="about" property="about"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="direction" property="direction"/>
        <result column="files" property="files"/>
        <result column="effectivedate" property="effectivedate"/>
        <result column="closingdate" property="closingdate"/>
        <result column="belongcomp" property="belongcomp"/>
        <result column="belongcompname" property="belongcompname"/>
        <result column="belongpart" property="belongpart"/>
        <result column="belongpartname" property="belongpartname"/>
        <result column="totalamount" property="totalamount"/>
        <result column="firstparty" property="firstparty"/>
        <result column="firstpartyname" property="firstpartyname"/>
        <result column="firstpartyuser" property="firstpartyuser"/>
        <result column="firstpartycontact" property="firstpartycontact"/>
        <result column="secondparty" property="secondparty"/>
        <result column="secondpartyname" property="secondpartyname"/>
        <result column="secondpartyuser" property="secondpartyuser"/>
        <result column="secondpartycontact" property="secondpartycontact"/>
        <result column="relatedparty" property="relatedparty"/>
        <result column="relatedpartyname" property="relatedpartyname"/>
        <result column="relatedpartyuser" property="relatedpartyuser"/>
        <result column="relatedpartycontact" property="relatedpartycontact"/>
        <result column="reviewer" property="reviewer"/>
        <result column="mark" property="mark"/>
        <result column="busuuid" property="busuuid"/>
    </resultMap>

</mapper>
