<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.base.mapper.SysFilesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.base.entity.SysFiles">
        <id column="id" property="id" />
    <result column="update_by" property="updateBy" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="dr" property="dr" />
        <result column="path" property="path" />
        <result column="type" property="type" />
        <result column="bus" property="bus" />
        <result column="mark" property="mark" />
        <result column="filename" property="filename" />
        <result column="filename_o" property="filenameO" />
    </resultMap>

</mapper>
