<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.base.mapper.SysCardAddrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.base.entity.SysCardAddr">
        <id column="ID" property="id" />
    <result column="DR" property="dr" />
    <result column="UPDATE_BY" property="updateBy" />
    <result column="CREATE_BY" property="createBy" />
    <result column="CREATE_TIME" property="createTime" />
    <result column="UPDATE_TIME" property="updateTime" />
        <result column="SHENGF" property="shengf" />
        <result column="CHENGS" property="chengs" />
        <result column="QUX" property="qux" />
        <result column="SHENGFMC" property="shengfmc" />
        <result column="CHENGSMC" property="chengsmc" />
        <result column="QUXMC" property="quxmc" />
        <result column="USER_ID" property="userId" />
        <result column="CARD_NO" property="cardNo" />
        <result column="CARD_BANK" property="cardBank" />
        <result column="CARD_PART" property="cardPart" />
        <result column="CARD_NAME" property="cardName" />
    </resultMap>

</mapper>
