<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.base.mapper.SysJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.base.entity.SysJob">
        <id column="SEQ" property="seq" />
    <result column="UPDATE_BY" property="updateBy" />
    <result column="CREATE_BY" property="createBy" />
    <result column="CREATE_TIME" property="createTime" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="DR" property="dr" />
        <result column="NODE" property="node" />
        <result column="JOBNAME" property="jobname" />
        <result column="JOBGROUP" property="jobgroup" />
        <result column="JOBCLASSNAME" property="jobclassname" />
        <result column="JOBCRON" property="jobcron" />
        <result column="JOBTYPE" property="jobtype" />
        <result column="JOBENABLE" property="jobenable" />
        <result column="MARK" property="mark" />
        <result column="RECDATE" property="recdate" />
        <result column="LAST_RUN" property="lastRun" />
        <result column="INITED" property="inited" />
    </resultMap>

</mapper>
