<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.base.mapper.SysQudShengfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.base.entity.SysQudShengf">
        <id column="ID" property="id" />
    <result column="UPDATE_BY" property="updateBy" />
    <result column="CREATE_BY" property="createBy" />
    <result column="CREATE_TIME" property="createTime" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="DR" property="dr" />
        <result column="MINGC" property="mingc" />
        <result column="JIANC" property="jianc" />
        <result column="GUOBM" property="guobm" />
    </resultMap>

</mapper>
