<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.base.mapper.SysUserHomeaddrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.base.entity.SysUserHomeaddr">
        <id column="ID" property="id" />
    <result column="CREATE_BY" property="createBy" />
    <result column="UPDATE_BY" property="updateBy" />
    <result column="CREATE_TIME" property="createTime" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="DR" property="dr" />
        <result column="USER_ID" property="userId" />
        <result column="PROVINCEID" property="provinceid" />
        <result column="PROVINCENAME" property="provincename" />
        <result column="CITYID" property="cityid" />
        <result column="CITYNAME" property="cityname" />
        <result column="AREAID" property="areaid" />
        <result column="AREANAME" property="areaname" />
        <result column="CT" property="ct" />
    </resultMap>

</mapper>
