<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.hrm.mapper.HrmOrgPartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.hrm.entity.HrmOrgPart">
        <id column="node_id" property="nodeId" />
    <result column="dr" property="dr" />
    <result column="create_by" property="createBy" />
    <result column="update_by" property="updateBy" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="node_name" property="nodeName" />
        <result column="org_id" property="orgId" />
        <result column="parent_id" property="parentId" />
        <result column="route" property="route" />
        <result column="type" property="type" />
        <result column="route_name" property="routeName" />
    </resultMap>

</mapper>
