<style>
    @media ( min-width: 992px) {
        .modal-blg {
            width: 95%;
        }
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <button class="close" ng-click="cancel()" type="button">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">审批节点</h4>
    </div>
    <div class="modal-body">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <form action="" class="form-horizontal m-t-md " name="myForm"
                          novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span
                                    class="text-danger">*</span>审批节点:</label>
                            <div class="col-sm-10">
                                <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="name"
                                       ng-maxlength="50"
                                       ng-model="data.name"
                                       placeholder="请输入审批节点" required type="text">
                                <div class="text-danger"
                                     ng-if="myForm.name.$dirty && myForm.name.$invalid">
                                    <span ng-if="myForm.name.$error.required"> 输入不能为空 </span> <span
                                        ng-show="myForm.name.$error.maxlength">不能超过50个字符 </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span
                                    class="text-danger">*</span>编码:</label>
                            <div class="col-sm-10">
                                <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="code"
                                       ng-maxlength="50"
                                       ng-model="data.code"
                                       placeholder="请输入编码" required type="text">
                                <div class="text-danger"
                                     ng-if="myForm.code.$dirty && myForm.code.$invalid">
                                    <span ng-if="myForm.code.$error.required"> 输入不能为空 </span> <span
                                        ng-show="myForm.code.$error.maxlength">不能超过100个字符 </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span
                                    class="text-danger">*</span>类型:</label>
                            <div class="col-sm-10">
                                <select chosen class="chosen-select"
                                        data-placeholder-text-single="'请选择...'"
                                        disable-search="true"
                                        search_contains="true"
                                        ng-model="statusSel"
                                        ng-options="item.name for item in statusOpt"
                                        no-results-text="'没有找到相应条目'">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">绑定用户:</label>
                            <div class="col-sm-10">
                                <select chosen class="chosen-select"
                                        data-placeholder-text-single="'请选择...'"
                                        disable-search="false"
                                        search_contains="true"
                                        ng-model="userSel"
                                        ng-options="item.name for item in userOpt"
                                        no-results-text="'没有找到相应条目'">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align: center">
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
        <button class="btn btn-primary" ng-click="sure()" ng-disabled="myForm.$invalid">确认
        </button>
    </div>
</div>


