<!-- Wrapper-->
<div class="top-navigation" id="wrapper">
    <!-- Navigation -->
    <div ng-include="'views/common/top_navigation.html'"></div>
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div class="gray-bg {{$state.current.name}}" id="page-wrapper">
        <!-- Main view  -->
        <div ui-view></div>
        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>
    </div>
    <!-- End page wrapper-->
</div>
<!-- End wrapper-->