<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.zc.mapper.ResAllocateItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.zc.entity.ResAllocateItem">
        <id column="id" property="id" />
    <result column="dr" property="dr" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
    <result column="create_by" property="createBy" />
    <result column="update_by" property="updateBy" />
        <result column="frecycle" property="frecycle"/>
        <result column="resid" property="resid" />
        <result column="touseduserid" property="touseduserid" />
        <result column="tousedusername" property="tousedusername" />
        <result column="tousedpartid" property="tousedpartid" />
        <result column="tousedpartname" property="tousedpartname" />
        <result column="tousedcompid" property="tousedcompid" />
        <result column="tousedcompname" property="tousedcompname"/>
        <result column="tobelongcompid" property="tobelongcompid"/>
        <result column="tobelongcompname" property="tobelongcompname"/>
        <result column="tobelongpartid" property="tobelongpartid"/>
        <result column="tobelongpartname" property="tobelongpartname"/>
        <result column="toloc" property="toloc"/>
        <result column="tolocname" property="tolocname"/>
        <result column="tolocdtl" property="tolocdtl"/>
        <result column="status" property="status"/>
        <result column="busuuid" property="busuuid"/>
        <result column="fcompid" property="fcompid"/>
        <result column="fcompname" property="fcompname"/>
        <result column="floc" property="floc"/>
        <result column="flocname" property="flocname"/>
        <result column="flocdtl" property="flocdtl"/>
        <result column="busdate" property="busdate"/>
        <result column="frombelongcompid" property="frombelongcompid"/>
        <result column="frombelongcompname" property="frombelongcompname"/>


    </resultMap>

</mapper>
