<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.zc.mapper.ResPurchaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.zc.entity.ResPurchase">
        <id column="id" property="id" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
    <result column="dr" property="dr" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="busid" property="busid" />
        <result column="pinst" property="pinst" />
        <result column="plan" property="plan" />
        <result column="zcname" property="zcname" />
        <result column="zcmodel" property="zcmodel" />
        <result column="unit" property="unit" />
        <result column="cnt" property="cnt" />
        <result column="estprice" property="estprice" />
        <result column="contractamount" property="contractamount" />
        <result column="purpose" property="purpose" />
        <result column="reason" property="reason" />
        <result column="mark" property="mark" />
        <result column="create_username" property="createUsername" />
        <result column="files" property="files" />
    </resultMap>

</mapper>
