<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.zc.mapper.ResResidualStrategyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.zc.entity.ResResidualStrategy">
        <id column="id" property="id"/>
        <result column="dr" property="dr"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="strategydesc" property="strategydesc"/>
        <result column="code" property="code"/>
        <result column="residualvaluerate" property="residualvaluerate"/>
        <result column="depreciationrate" property="depreciationrate"/>
        <result column="valuestr" property="valuestr"/>
        <result column="mark" property="mark"/>
    </resultMap>

</mapper>
