<div ng-controller="cmdbDataExportCtl">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label for="class">位置</label> <select chosen class="chosen-select col-sm-10"
                                                                      data-placeholder-text-single="'请选择...'"
                                                                      disable-search="true"
                                                                      ng-model="locSel" ng-options="item.name for item in locOpt"
                                                                      no-results-text="'没有找到相应条目'"
                                                                      width=100>
                                <option value=""></option>
                            </select>
                            </div>
                            <button class="btn btn-sm btn-primary" ng-click="exportdata()"
                                    type="submit">导出
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>




