<style>
    @media ( min-width: 992px) {
        .modal-blg {
            width: 95%;
        }
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <button class="close" ng-click="cancel()" type="button">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">巡检资产列表</h4>
    </div>
    <div class="modal-body">
        <div class="wrapper wrapper-content animated fadeInRight">
            <table class="table table-hover" datatable="ed"
                   dt-column-defs="dtColumnDefs" dt-columns="dtColumns"
                   dt-instance="dtInstance" dt-options="dtOptions">
            </table>

        </div>
    </div>

    <div class="modal-footer" style="text-align:center">
        <button class="btn btn-warning" ng-click="cancel()">取消</button>

    </div>
</div>