<style>
    @media ( min-width: 992px) {
        .modal-blg {
            width: 95%;
        }
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <button class="close" ng-click="cancel()" type="button">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">资产折旧</h4>
    </div>
    <div class="modal-body">
        <div class="wrapper wrapper-content animated fadeInRight">
            <form action="" class="form-horizontal m-t-md" name="myForm"
                  novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                            class="text-danger">*</span>标题:</label>
                    <div class="col-sm-10">
                        <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title"
                               ng-disabled="ctl.name" ng-maxlength="100"
                               ng-model="item.title"
                               placeholder="请输入名称" required type="text">
                        <div class="text-danger"
                             ng-if="myForm.title.$dirty && myForm.title.$invalid">
                            <span ng-if="myForm.title.$error.required"> 输入不能为空 </span> <span
                                ng-show="myForm.title.$error.maxlength">不能超过100个字符 </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">折旧策略:</label>
                    <div class="col-sm-10">
                        <select chosen class="chosen-select" data-placeholder-text-multiple="'请选择...'"
                                data-placeholder-text-single="'请选择...'"
                                disable-search="true"
                                ng-model="zjSel"
                                ng-options="item.name for item in zjOpt"
                                no-results-text="'没有找到相应条目'">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">责任人:</label>
                    <div class="col-sm-10">
                        <select chosen class="chosen-select" data-placeholder-text-single="'请选择...'"
                                disable-search="true"
                                ng-disabled="ctl.adminuserSel" ng-model="adminuserSel"
                                ng-options="item.name for item in adminuserOpt"
                                no-results-text="'没有找到相应条目'">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注:</label>
                    <div class="col-sm-10">
                        <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="mark"
                               ng-disabled="ctl.mark"
                               ng-model="item.mark" placeholder="请输入备注" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
						<span class="btn btn-primary"
                              ng-click="review()">资产选择范围</span>
                        <table class="table table-hover" datatable="ed"
                               dt-column-defs="dtColumnDefs" dt-columns="dtColumns"
                               dt-instance="dtInstance" dt-options="dtOptions">
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center">
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
        <button class="btn btn-primary" ng-click="sure()" ng-disabled="myForm.$invalid"
                ng-hide="ctl.surebtn">确认
        </button>
    </div>
</div>