<style>
    @media ( min-width: 992px) {
        .modal-blg {
            width: 95%;
        }
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <button class="close" ng-click="cancel()" type="button">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">巡检计划表</h4>
    </div>
    <div class="modal-body">
        <div class="wrapper wrapper-content animated fadeInRight">
            <form action="" class="form-horizontal m-t-md " name="myForm"
                  novalidate>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                            class="text-danger">*</span>名称:</label>
                    <div class="col-sm-10">
                        <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="name"
                               ng-maxlength="100"
                               ng-model="data.name"
                               placeholder="请输入名称" required type="text">
                        <div class="text-danger"
                             ng-if="myForm.title.$dirty && myForm.name.$invalid">
                            <span ng-if="myForm.name.$error.required"> 输入不能为空 </span> <span
                                ng-show="myForm.name.$error.maxlength">不能超过100个字符 </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                            class="text-danger">*</span>巡检方式:</label>
                    <div class="col-sm-10">
                        <select chosen class="chosen-select"
                                data-placeholder-text-single="'请选择...'"
                                disable-search="true"
                                ng-model="methodSel"
                                ng-options="item.name for item in methodOpt"
                                no-results-text="'没有找到相应条目'">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                            class="text-danger">*</span>状态:</label>
                    <div class="col-sm-10">
                        <select chosen class="chosen-select"
                                data-placeholder-text-single="'请选择...'"
                                disable-search="true"
                                ng-model="statusSel"
                                ng-options="item.name for item in statusOpt"
                                no-results-text="'没有找到相应条目'">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                            class="text-danger">*</span>周期:</label>
                    <div class="col-sm-10">
                        <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="cron"
                               ng-maxlength="100"
                               ng-model="data.cron"
                               placeholder="请输入周期" required type="text">
                        <div class="text-danger"
                             ng-if="myForm.cron.$dirty && myForm.cron.$invalid">
                            <span ng-if="myForm.cron.$error.required"> 输入不能为空 </span> <span
                                ng-show="myForm.cron.$error.maxlength">不能超过100个字符 </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">分配用户:</label>
                    <div class="col-sm-10">
                        <select chosen class="chosen-select" data-placeholder-text-multiple="'请选择...'"
                                data-placeholder-text-single="'请选择...'"
                                multiple
                                ng-model="userSel"
                                disable-search="false"
                                search_contains="true"
                                ng-options="item.name for item in userOpt"
                                no-results-text="'没有找到相应条目'">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注:</label>
                    <div class="col-sm-10">
						 	<textarea class="form-control" name="mark" ng-model="data.mark"
                                      placeholder="请输入备注" type="text"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span
                            class="text-danger">*</span>资产列表:</label>
                    <div class="col-sm-10">
                        <a class="btn btn-primary" href="javascript:void(0)" ng-click="zcselect()"
                           style="margin-top: 3px;">选择资产</a>
                        <table class="table table-hover" datatable="ed"
                               dt-column-defs="dtColumnDefs" dt-columns="dtColumns"
                               dt-instance="dtInstance" dt-options="dtOptions">
                        </table>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="modal-footer" style="text-align:center">
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
        <button class="btn btn-primary" ng-click="sure()" ng-disabled="myForm.$invalid"
                ng-hide="ctl.surebtn">确认
        </button>
    </div>
</div>