<script src="js/common.js?v=70"></script>
<style>
    .bg-light-blue{
        background-color:#3c8dbc !important;
    }
</style>
<div ng-controller="rackviewCtl">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label for="class">区域</label> <select chosen
                                                                      class="chosen-select"
                                                                      data-placeholder-text-single="'请选择...'"
                                                                      disable-search="false"
                                                                      id="class"
                                                                      search_contains="true"
                                                                      ng-model="catRootSel"
                                                                      ng-options="item.name for item in catRootOpt"
                                                                      no-results-text="'没有找到相应条目'"
                                                                      style="width: 120px;">
                                <option value=""></option>
                            </select>
                            </div>
                            <button class="btn btn-sm btn-primary" ng-click="query()"
                                    type="submit">查询
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="screen()"
                                    type="submit">机柜视图
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: relative; height: 100%;">
            <div class="gBqKoW">
                <div class="FnqzS" id="leftcb" style="background: white;">
                    <div class="celaRy">
                        <div js-tree="treeConfig"
                             ng-model="treeData" style="margin-top: 20px; margin-left: 8px" tree="treeInstance"
                             tree-events="ready:readyCB;create_node:createNodeCB"></div>
                    </div>
                </div>
                <div class="TNqaS" id="flagcb">
					<span class="cmRdnZ"> <i class="fa fa-angle-double-left"
                                             id="flagcb2"
                                             style="position: absolute; right: 4px; top: 34%;"></i> <!--  <i
						class="next-icon next-icon-arrow-left next-xs sc-bxivhb bUZGRr"></i> -->
					</span>
                </div>
                <div class="jexhMp">
                    <div class="ibox float-e-margins" tyle="min-height:250px;">
                        <!--                        <div class="ibox-title">-->
                        <!--                            <div class="ibox-tools" style="text-align: left !important">-->
                        <!--                                <button class="btn btn-primary btn-xs" ng-click="saveItem()"-->
                        <!--                                        ng-disabled="myForm.$invalid" type="submit">保存-->
                        <!--                                </button>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="ibox-content">
                            <table class="table table-hover" datatable="ed"
                                   dt-column-defs="dtColumnDefs" dt-columns="dtColumns"
                                   dt-instance="dtInstance" dt-options="dtOptions">
                            </table>
                            <div ng-bind-html="trustHtml"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>